﻿<div class="modal fade" id="register-modal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="registerEmail" class="control-label">Email</label>
                        <input type="email" class="form-control" id="registerEmail" />
                    </div>
                    <div class="form-group">
                        <label for="registerUsername" class="control-label">Username</label>
                        <input type="text" class="form-control" id="registerUsername" />
                    </div>
                    <div class="form-group">
                        <label for="registerFirstName" class="control-label">First Name</label>
                        <input type="text" class="form-control" id="registerFirstName" />
                    </div>
                    <div class="form-group">
                        <label for="registerLastName" class="control-label">Last Name</label>
                        <input type="text" class="form-control" id="registerLastName" />
                    </div>
                    <div class="form-group">
                        <label for="registerPassword" class="control-label">Password</label>
                        <input type="password" class="form-control" id="registerPassword" />
                    </div>
                    <div class="form-group">
                        <label for="registerPasswordConfirm" class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" id="registerPasswordConfirm" />
                    </div>
                </form>                                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="registerBtn">Submit</button>    
            </div>
        </div>
    </div>
</div>        