﻿<div class="modal fade" id="upload-modal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Upload Picture</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <input class="form-control" id="file-upload" type="file" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="uploadButton">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
