﻿<div class="container">
    <link href="../../Content/addTree.css" rel="stylesheet" />
    <h2 class="addTreeHeader">Add Tree</h2>
    <div class="row">
        <form class="form-horizontal">
            <div class="col-md-4">
                <div class="row" id="newPhoto">
                    <p class="col-md-12 photoPlace" id="photoIdent">Tree Photo</p>
                    <img src="" id="photo"/>
                </div>
                <div class="row" id="upload">
                    <button type="button" class="btn btn-lg btn-default btn-upload col-md-12" data-toggle="modal" data-target="#upload-modal">Upload New Photo</button>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="speciesSelect">Species</label>
                        <select class="form-control" id="speciesSelect">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="locationSelect">Location</label>
                        <select class="form-control" id="locationSelect">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label for="diameterInput">Diameter</label>
                            <input type="number" class="form-control" id="diameterInput" />
                        </div>
                        <div class="col-md-4">
                            <label for="healthSelect">Health</label>
                            <select class="form-control" id="healthSelect">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="col-md-6 col-md-offset-3 btn btn-lg btn-primary" id="saveTree">Save Tree</button>
                </div>
            </div>
        </form>
    </div>
</div>

