﻿.addTreeHeader{
    font-family:Impact;
}

#newPhoto{
    background-color:#dcdcdc;
    text-align:center;   
    font-family:Impact;
}

.photoPlace{
    padding-top:30%;
    padding-bottom:30%
}

.btn-upload{
    border-radius:0;
    font-family:Impact
}