﻿.smallMainHeader{
    margin-top:5px;
    margin-bottom:5px;
}

.mainHeader{
    margin-top:20px;
    margin-bottom:0;
}

.jumbotron{
    font-family:Impact;
    text-align:center;    
}

.mainHeaderText{
    font-size:80px !important;   
}

.smallMainText{
    font-size:32px;    
}

.btn-primary-head{
    margin-top:30px;
    border-radius:20px;
}

.logo{
    border-radius:100%;
    margin-top:20px;
}
