﻿.navbar{
    margin-bottom:0;
    border-radius:0;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float:none;
    vertical-align:top;
}

.btn-link{
    text-decoration:none !important;
}