﻿.treeListTemplate{
    border-width:thin;
    border-style:solid;
    border-color:black;
    margin-bottom:2%;
}

.location{
    text-align:left;
}

.templateRow{
    margin-top:1%;
}

.templateButton{
    margin-top:5%;
}