﻿<template id="postedTree" class="row">
    <link href="../../Content/treeListTemplate.css" rel="stylesheet" />
    <div class="media treeListTemplate col-md-8">
        <div class="media-left">
            <a href="">
                <img class="templatePhoto media-object" src="../../Assets/Images/placeholderLogo.png" width="64" height="64" />
            </a>
        </div>
        <div class="media-body">
            <div class="row templateRow">
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <label class="col-md-4">Location:</label>
                        <p class="location col-md-6">A Location</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-3">Species:</label>
                        <p class="species col-md-6">A Tree Species</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <label class="col-md-4">Diameter:</label>
                        <p class="diameter col-md-6">42.5</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-3">Health:</label>
                        <p class="health col-md-6">Average</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="changeButtons col-md-2">
        <div class="row">
            <button onclick="editTree(this)" class="col-md-offset-1 btn btn-primary btn-group-justified templateButton edit">Edit</button>
        </div>
        <div class="row">
            <button onclick="deleteTree(this)" class="col-md-offset-1 btn btn-primary btn-group-justified templateButton delete">Delete</button>
        </div>
    </div>
    <script src="../../Views/TreeList/treeListTemplateController.js"></script>
</template>
