﻿<div class="container">
    <link href="../../Content/about.css" rel="stylesheet" />
    <h2 class="aboutHeader">Our Mission</h2>
    <div class="row aboutText">
        <div class="col-md-4 col-md-offset-1">Lorem ipsum dolor sit amet, ut eam dolore intellegebat, altera noster per cu, eu posse aliquip iudicabit eum. Eam at dictas vidisse appetere, duo an prodesset mnesarchum repudiandae, nam duis laoreet antiopam et. Cum altera maiestatis ea, vidit dicat ea eam. Mea ex summo senserit dissentiet, liber omnesque complectitur eos te. Ullum patrioque cotidieque no mei, quis salutatus scripserit quo et.</div>        
        <div class="col-md-4 col-md-offset-2">Lorem ipsum dolor sit amet, ut eam dolore intellegebat, altera noster per cu, eu posse aliquip iudicabit eum. Eam at dictas vidisse appetere, duo an prodesset mnesarchum repudiandae, nam duis laoreet antiopam et. Cum altera maiestatis ea, vidit dicat ea eam. Mea ex summo senserit dissentiet, liber omnesque complectitur eos te. Ullum patrioque cotidieque no mei, quis salutatus scripserit quo et.</div>
    </div>
</div>
