﻿<div>
    <link href="../../Content/home.css" rel="stylesheet" />
    <div class="jumbotron">
        <img class="logo" src="../../Assets/Images/placeholderLogo.png" />
        <h1 class="mainHeaderText mainHeader">TreeLog</h1>
        <h2><small class="smallMainHeader smallMainText">Teaching You Trees</small></h2>
        <h2><small class="smallMainHeader smallMainText">Growing Our Understanding</small></h2>
        <a class="btn btn-primary btn-lg btn-primary-head" id="aboutus" href="#/about">About Us</a>
    </div>
    <script src="Views/Home/home.js"></script>
</div>
